* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: #fcfcfc;
  overflow-x: hidden;
  overflow-wrap: break-word;
}

/********************** HELPLINE *********************/
.helpline {
  background-color: #1e22aa;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
  font-size: 1.3rem;
  color: #fff;
  font-weight: 400;
}

.discount-text,
.helpline-right {
  padding: 1.2rem 2rem;
}

.helpline-right {
  display: flex;
  gap: 1.2rem;
}

/********************** NAV ****************************/
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
  padding: 1.8rem 2rem;
}

.nav-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.nav-items {
  font-size: 1.6rem;
  font-weight: 600;
}

/******************** CAROUSEL **************************/
.carousels {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
  overflow-x: hidden;
  position: relative;
}

.arrow-button {
  position: absolute;
  z-index: 2;
  font-size: 2rem;
  color: #fff;
  font-weight: 700;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 2rem;
  padding: 2rem;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: #9393937b;
  transition-duration: 600ms;
}

.arrow-button:hover {
  background-color: #ffffff80;
}

.prev-arrow {
  left: 0;
}

.next-arrow {
  right: 0;
}

.lower-circle {
  position: absolute;
  margin-bottom: 2rem;
  display: flex;
  gap: 3rem;
  bottom: 0;
  z-index: 3;
}

.circle {
  border: 0.2rem solid #fff;
  border-radius: 50%;
  width: 1.2rem;
  height: 1.2rem;
  cursor: pointer;
  transition-duration: 400ms;
}

.circle:hover {
  transform: scale(2.1);
  border: 0.2rem solid #0076fd;
}

.circle .active {
  border: 0.3rem solid #1251ff;
}

.carousel {
  width: 100vw;
}

.carousel-texts {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  color: black;
  height: 20rem;
  top: 35%;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
  z-index: 1;
}

.text-1 {
  font-size: 1.4rem;
  font-weight: 500;
  padding: 0.9rem 2.1rem;
  border-radius: 2rem;
  margin-bottom: 1.6rem;
  background-color: #fff;
  color: #1e22aa;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.text-2,
.text-3 {
  text-align: center;
  line-height: 1;
}

.text-2 {
  font-size: 4.89rem;
  color: #fff;
  font-weight: 700;
  margin-bottom: 2rem;
}

.text-3 {
  font-size: 2rem;
  color: #fff;
  font-weight: 400;
}

.carousel-img {
  width: 100%;
  height: auto;
  filter: opacity(1) drop-shadow(0 0 0 #061019);
}

/******************** PILLARS SECTION *********************/
.pillars-section {
  max-width: 131.2rem;
  margin: 0 auto;
  padding: 9.6rem 0;
}

.pillars-container {
  display: flex;
  padding: 1rem;
}

.pillars-left {
  display: flex;
  flex-direction: column;
  padding: 0 8rem 0 0;
  width: 50%;
}

.pillar-heading-small {
  margin-bottom: 2rem;
  font-weight: 500;
  font-size: 1.4rem;
  color: #1e22aa;
  letter-spacing: 0.2rem;
}

.pillar-heading-big {
  margin-bottom: 1rem;
  font-size: 4rem;
  font-weight: 700;
  color: #1f2937;
  letter-spacing: -0.2rem;
}

.pillar-left-img {
  width: 100%;
  height: auto;
}

.pillars-right {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  width: 50%;
  gap: 3rem;
}

.pillar-icon-box {
  display: flex;
  align-items: center;
  height: auto;
  width: 100%;
  gap: 2rem;
  padding: 3rem;
  border-radius: 2rem;
  background-color: #fff;
  box-shadow: 0 3rem 6rem 0 rgb(0 0 0 / 10%);
}

/* .pillar-icon-box .box-1 {
  z-index: 1;
}
.pillar-icon-box .box-2 {
  z-index: 2;
}
.pillar-icon-box .box-3 {
  z-index: 3;
} */

.icon-box {
  align-self: flex-start;
}

.pillar-icon {
  font-size: 6.4rem;
  color: red;
  padding: 0;
  margin: 0;
}

.pillar-icon-box-title span {
  font-size: 2.488rem;
  font-weight: 600;
  color: #868686;
}

.pillar-icon-box-title {
  align-self: flex-start;
}

.pillar-icon-box-description {
  color: #868686;
  font-size: 1.6rem;
  margin-top: 0.7rem;
}

/********************* PRODUCT SECTION ********************/
.product-section {
  max-width: 131.2rem;
  padding-bottom: 9.6rem;
  margin: 0 auto;
}

.product-container {
  display: flex;
  gap: 2rem;
  padding: 1rem;
}

.product-box-left {
  width: 80%;
  background-color: #fff;
  box-shadow: 0px 30px 60px 0px rgb(0 0 0 / 10%);
  padding: 4rem;
  border-radius: 1rem;
}

.product-box-heading-box {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 2rem;
}

.product-heading-title {
  font-weight: 500;
  font-size: 1.4rem;
  color: #1e22aa;
  letter-spacing: 0.2rem;
  align-self: center;
}

.product-box-heading-box::after {
  content: "";
  display: block;
  border: 0.05rem solid #dcdcde;
  border-bottom: 0;
  flex-grow: 1;
}

.product-heading-subtitle {
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 500;
  color: #868686;
  margin-bottom: 5rem;
}

.product-box-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 1rem;
}

.products-item {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: space-between;
}

.products-item:not(last-child) {
  margin-right: 2rem;
}

.product-img-box {
  border-radius: 1rem 1rem 0 0;
  margin-bottom: 1.4rem;
  overflow: hidden;
  display: inline-block;
}

.product-item-img {
  width: 100%;
  height: auto;
  transition: all 0.4s ease-in-out;
}

.product-item-img:hover {
  transform: scale(1.1);
}

.item-top-title {
  font-size: 1.6rem;
  color: #1f2937;
  font-weight: 600;
  padding: 1rem 0;
}

.item-top-price {
  display: flex;
  gap: 0.5rem;
  color: #1e22aa;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.item-top-price-1 {
  font-weight: 400;
  color: #1251ff82;
  text-decoration: line-through;
}

.item-top-price-2 {
  font-weight: 700;
  text-decoration: underline;
}

.item-bottom:link,
.item-bottom:visited {
  padding: 1rem;
  margin-top: 1rem;
  margin-right: auto;
  font-size: 1.4rem;
  font-weight: 400;
  color: #fff;
  background-color: #1e22aa;
  left: auto;
  border-radius: 0.4rem;
  text-decoration: none;
  transition: all 0.3s;
}

.item-bottom:hover,
.item-bottom:active {
  background-color: #0076fd;
}

.product-box-right {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  align-items: center;
  justify-content: center;
  width: 20%;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 30px 60px 0px rgb(0 0 0 / 10%);
  padding: 3.5rem;
  border-radius: 1rem;
}

.product-icon {
  font-size: 5rem;
  color: #1e22aa;
}

.product-right-title {
  font-size: 1.6rem;
  font-weight: 600;
  color: #1e22aa;
  margin-bottom: 0.7rem;
}

.product-right-description {
  font-size: 1.4rem;
  font-weight: 400;
  color: #868686;
}

.product-link-div {
  display: flex;
  gap: 10rem;
  align-items: center;
  /* justify-content: center; */
  margin-top: 3rem;
  margin-left: 25%;
}

.product-link {
  text-decoration: none;
  padding: 1rem 2rem;
  border-radius: 0.4rem;
  font-size: 1.6rem;
  font-weight: 700;
}

.browse:link,
.browse:visited {
  color: #fff;
  background-color: #1e22aa;
  transition: all 0.3s;
}

.browse:hover,
.browse:active {
  color: #fff;
  background-color: #0076fd;
}

.factories:link,
.factories:visited {
  color: #000;
  background-color: #1251ff1b;
  transition: all 0.3s;
  display: block;
  border: 0.2rem solid #1e22aa;
}

.factories:hover,
.factories:active {
  color: #000;
  background-color: rgba(255, 255, 255, 0);
}

/************************ ECOSYSTEM SECTION ********************/
.ecosystem {
  overflow-x: hidden;
  position: relative;
}

.ecosystem-img {
  width: 100%;
  height: auto;
  padding: 9.6rem 0;
  margin: 0 auto;
}

.ecosystem-text-wrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  width: 40%;
  margin-left: 5rem;
  text-align: right;
}

.ecosystem-text-title {
  font-size: 4.42rem;
  font-weight: 700;
  letter-spacing: -0.2rem;
  margin-bottom: 2rem;
}

.ecosystem-text-content {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.ecosystem-text-link:link,
.ecosystem-text-link:visited {
  display: inline-block;
  padding: 1.5rem 3.5rem;
  font-size: 1.6rem;
  font-weight: 500;
  color: #fff;
  background-color: #1e22aa;
  border-radius: 0.4rem;
  text-decoration: none;
  transition: all 0.3s;
}

.ecosystem-text-link:hover,
.ecosystem-text-link:active {
  background-color: #0076fd;
}

/*************** LATEST PRODUCT SECTION ******************/
.latest-products {
  max-width: 131.2rem;
  padding-bottom: 9.6rem;
  margin: 0 auto;
}

.latest-product-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.latest-product-heading-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.latest-product-heading {
  font-size: 3.316rem;
  font-weight: 700;
  color: #868686;
  margin-right: 2.1rem;
}

.latest-product-heading-box::after {
  display: block;
  content: "";
  /* width: auto;
  height: 0.1rem; */
  flex-grow: 1;
  border: 0.05rem solid #dcdcde;
  border-top: 0;
}

.latest-products-box {
  width: 100%;
}

.latest-products-col-5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 3rem;
  grid-row-gap: 4rem;
}

.latest-product-col-list {
  position: relative;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  text-align: left;
  justify-content: space-between;
  list-style-type: none;
}

.latest-product-col-list::after {
  position: absolute;
  top: -0.9rem;
  right: -0.5rem;
  content: "New!";
  display: block;
  color: #fff;
  background-color: #1e22aa;
  padding: 1rem 0.4rem;
  border-radius: 50%;
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
  letter-spacing: -0.1rem;
}

.latest-product-img {
  width: 100%;
  height: auto;
  padding: 1rem 0;
  background-color: #fff;
  border-radius: 0.6rem;
  box-shadow: 0px 30px 60px 0px rgb(0 0 0 / 10%);
  margin-bottom: 1rem;
}

.latest-product-top-title {
  font-size: 1.6rem;
  color: #1f2937;
  font-weight: 600;
  padding: 1rem 0;
}

.latest-product-prices {
  display: flex;
  gap: 0.5rem;
  color: #1e22aa;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.latest-product-price-1 {
  font-weight: 400;
  color: #1251ff82;
  text-decoration: line-through;
}

.latest-product-price-2 {
  font-weight: 700;
  text-decoration: none;
}

.latest-product-bottom-box:link,
.latest-product-bottom-box:visited {
  padding: 1rem;
  margin-top: 1rem;
  margin-right: auto;
  font-size: 1.6rem;
  font-weight: 400;
  color: #fff;
  background-color: #1e22aa;
  left: auto;
  border-radius: 0.4rem;
  text-decoration: none;
  transition: all 0.3s;
}

.latest-product-bottom-box:hover,
.latest-product-bottom-box:active {
  background-color: #0076fd;
}

/*************** SUMMARY SECTION ******************/
.summary-section {
  padding-bottom: 9.6rem;
}

.summary-container {
  max-width: 131.2rem;
  display: flex;
  gap: 2rem;
  margin: 0 auto;
}

.summary-box {
  border-radius: 1rem;
  color: #868686;
  font-size: 1.4rem;

  transition-duration: 600ms;
}

.summary-box-1 {
  display: flex;
  width: 30%;
  flex-direction: column;
  background-color: #ceefff;
  padding: 3rem;
  overflow: hidden;
}

/* .summary-box-1:hover {
  background-color: #1f29372b;
} */

.summary-box-title {
  color: #1f2937;
  font-size: 2.488rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.summary-box-description {
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

.summary-box-description-span {
  margin-top: 0.7rem;
}

.summary-cta-link:link,
.summary-cta-link:visited {
  display: inline-block;
  padding: 1rem;
  margin-top: 1rem;
  margin-right: auto;
  font-weight: 400;
  color: #fff;
  background-color: #1e22aa;
  left: auto;
  border-radius: 0.4rem;
  text-decoration: none;
  transition: all 0.3s;
}

.summary-cta-link:hover,
.summary-cta-link:active {
  background-color: #0076fd;
}

.summary-img {
  width: 100%;
  height: auto;
  margin-top: 2rem;
}

.summary-box-2 {
  width: 70%;
}

.summary-box-2 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.box-2-container-1,
.box-2-container-2 {
  height: 50%;
}

.box-2-container-1 {
  display: flex;
  gap: 2rem;
}

.container-1-box-1,
.container-1-box-2 {
  width: 50%;
  border-radius: 1rem;
  overflow: hidden;
  transition-duration: 600ms;
}

.container-1-box-1,
.container-1-box-2 {
  position: relative;
  background-color: rgb(188, 190, 208);
}

.container-1-box-1:hover,
.container-1-box-2:hover {
  background-color: rgba(165, 165, 165, 0.22);
}

.container-box-1-div {
  width: 60%;
  word-wrap: break-word;
  position: absolute;
  top: 3rem;
  left: 2rem;
  font-size: 1.5rem;
  z-index: 1;
}

.summary-box-1-title {
  margin-bottom: 1.5rem;
  color: #1f2937;
  font-size: 1.866rem;
  font-weight: 700;
}

.summary-box-1-description {
  margin-bottom: 1.5rem;
}

.summary-box-1-img {
  position: absolute;
  width: 100%;
  height: auto;
  right: -13rem;
  bottom: -14rem;
}

.container-1-box-2 {
  position: relative;
  background-color: rgb(188, 208, 196);
}

.container-1-box-2:hover {
  background-color: rgba(165, 165, 165, 0.22);
}

.container-box-2-div {
  position: absolute;
  width: 50%;
  word-wrap: break-word;
  top: 3rem;
  right: 2rem;
  font-size: 1.5rem;
  z-index: 1;
}

.summary-box-2-img {
  position: absolute;
  width: 100%;
  height: auto;
  right: 21rem;
  bottom: -14rem;
}

.box-2-container-2 {
  position: relative;
  display: flex;
  gap: 2rem;
  background-color: rgb(193, 201, 164);
  border-radius: 1rem;
  overflow: hidden;
  transition-duration: 600ms;
}

.box-2-container-2:hover {
  background-color: rgba(165, 165, 165, 0.22);
}

.box-2-container-2-div {
  text-align: right;
  position: absolute;
  width: 40%;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
}

.container-2-img {
  position: absolute;
  width: 40%;
  height: auto;
  right: 4rem;
}

/*************** PARTNER'S LOGO **********************/
.partners-section {
  background-color: #fff;
  padding: 2rem 0;
}

.partners-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 131.2rem;
  margin: 0 auto;
  overflow: hidden;
}

.partners-logo-container {
  display: flex;
  gap: 12rem;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.partners-logo {
  width: 100%;
  height: auto;
}
