* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
}

.container {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-wrap: break-word;
}

/* HELPLINE */
.helpline {
  background-color: #1e22aa;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
  font-size: 1.3rem;
  color: #fff;
  font-weight: 400;
}

.discount-text,
.helpline-right {
  padding: 1.2rem 2rem;
}

.helpline-right {
  display: flex;
  gap: 1.2rem;
}

/* NAV */
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
  padding: 1.8rem 2rem;
}

.nav-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.nav-items {
  font-size: 1.6rem;
  font-weight: 600;
}

/* CAROUSEL */
.carousels {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
  overflow-x: hidden;
  position: relative;
}

.arrow-button {
  position: absolute;
  z-index: 2;
  font-size: 2rem;
  color: #fff;
  font-weight: 700;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 2rem;
  padding: 2rem;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: #9393937b;
}

.arrow-button:hover {
  background-color: #ffffff80;
  transition: 0.5s ease-in-out;
}

.prev-arrow {
  left: 0;
}

.next-arrow {
  right: 0;
}

.lower-circle {
  position: absolute;
  margin-bottom: 2rem;
  display: flex;
  gap: 1.5rem;
  bottom: 0;
  z-index: 3;
}

.circle {
  border: 0.1rem solid #fff;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}

.circle:hover {
  transform: scale(200%);
  border: 0.2rem solid #1251ff;
}

.circle .active {
  border: 0.3rem solid #1251ff;
}

.carousel {
  width: 100vw;
}

.carousel-texts {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  color: black;
  height: 20rem;
  top: 35%;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
  z-index: 1;
}

.text-1 {
  font-size: 1.4rem;
  font-weight: 500;
  padding: 0.9rem 2.1rem;
  border-radius: 2rem;
  margin-bottom: 1.6rem;
  background-color: #fff;
  color: #1e22aa;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.text-2,
.text-3 {
  text-align: center;
  line-height: 1;
}

.text-2 {
  font-size: 4.89rem;
  color: #fff;
  font-weight: 700;
  margin-bottom: 2rem;
}

.text-3 {
  font-size: 2rem;
  color: #fff;
  font-weight: 400;
}

.carousel-img {
  width: 100%;
  height: auto;
  filter: opacity(1) drop-shadow(0 0 0 #061019);
}

/* PILLARS SECTION */
.pillars-section {
  max-width: 128rem;
  margin: 0 auto;
  padding: 9.6rem 0;
  display: flex;
}

.pillars-left {
  display: flex;
  flex-direction: column;
  padding: 0 8rem 0 0;
  width: 50%;
}

.pillar-heading-small {
  margin-bottom: 2rem;
  font-weight: 500;
  font-size: 1.4rem;
  color: #1251ff;
  letter-spacing: 0.2rem;
}

.pillar-heading-big {
  margin-bottom: 1rem;
  font-size: 4rem;
  font-weight: 700;
  color: #1f2937;
  letter-spacing: -0.2rem;
}

.pillar-left-img {
  width: 100%;
  height: auto;
}

.pillars-right {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  width: 50%;
  gap: 3rem;
}

.pillar-icon-box {
  display: flex;
  align-items: center;
  height: auto;
  width: 100%;
  gap: 2rem;
  padding: 3rem;
  border-radius: 2rem;
  box-shadow: 0px 30px 60px 0px rgb(0 0 0 / 10%);
}

.icon-box {
  align-self: flex-start;
}

.pillar-icon {
  font-size: 6.4rem;
  color: red;
  padding: 0;
  margin: 0;
}

.pillar-icon-box-title span {
  font-size: 2.488rem;
  font-weight: 600;
  color: #868686;
}

.pillar-icon-box-title {
  align-self: flex-start;
}

.pillar-icon-box-description {
  color: #868686;
  font-size: 1.6rem;
  margin-top: 0.7rem;
}

/* PRODUCT SECTION */
.product-section {
}

.product-box {
  display: flex;
  max-width: 128rem;
  margin: 0 auto;
  padding-bottom: 9.6rem;
}

.product-box-left {
  width: 80%;
  background-color: #fff;
  box-shadow: 0px 30px 60px 0px rgb(0 0 0 / 10%);
  margin: 1rem;
  padding: 4rem;
  border-radius: 1rem;
}

.product-box-heading-box {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 2rem;
}

.product-heading-title {
  font-weight: 500;
  font-size: 1.4rem;
  color: #1251ff;
  letter-spacing: 0.2rem;
  align-self: center;
}

.product-box-heading-box hr {
  width: 80%;
  height: 0.2rem;
}

.product-heading-subtitle {
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 500;
  color: #868686;
  margin-bottom: 5rem;
}

.product-box-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 1rem;
}

.products-item {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: space-between;
}

.products-item:not(last-child) {
  margin-right: 2rem;
}

.product-item-img {
  width: 100%;
  height: auto;
  border-radius: 1rem 1rem 0 0;
  margin-bottom: 1.4rem;
}

.item-top-title {
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1rem 0;
}

.item-top-price {
  display: flex;
  gap: 0.5rem;
  color: #1251ff;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.item-top-price-1 {
  font-weight: 400;
  text-decoration: line-through;
}

.item-top-price-2 {
  font-weight: 700;
  text-decoration: underline;
}

.item-bottom {
  padding: 1rem;
  margin-top: 1rem;
  margin-right: auto;
  font-size: 1.4rem;
  font-weight: 400;
  color: #fff;
  background-color: #1251ff;
  left: auto;
  border-radius: 0.2rem;
}

.product-box-right {
  width: 20%;
}
