/************** 1080px  ***********************/
@media (max-width: 67.5em) {
  .nav-bar-logo-wrapper {
    width: 13%;
  }

  .pillars-container,
  .product-section,
  .latest-products,
  .summary-container,
  .partners-container,
  .signup-container,
  .footer-container {
    max-width: 100rem;
  }

  .pillars-left {
    padding: 0;
  }

  .pillar-icon-box-title span {
    font-size: 2rem;
  }

  .summary-box-1-title {
    font-size: 2rem;
  }

  .container-box-2-div {
    top: 2.2rem;
    width: 60%;
  }

  .summary-box-1-title {
    margin-bottom: 1rem;
  }

  .summary-box-1-img {
    right: -11rem;
    bottom: -12rem;
  }

  .summary-box-2-img {
    right: 19rem;
    bottom: -9rem;
  }

  .signup-title {
    font-size: 2rem;
  }
}

@media (max-width: 62.9375em) {
  .pillars-section {
    padding-bottom: 2rem;
  }

  .pillar-heading-big {
    font-size: 3.2rem;
  }

  .pillar-icon {
    font-size: 4.5rem;
  }

  .product-container {
    flex-direction: column;
  }

  .product-section {
    padding-bottom: 0;
  }

  .product-box-left {
    width: 100%;
  }

  .product-box-right {
    flex-direction: row;
    gap: 0;
    width: 100%;
  }

  .ecosystem-text-title {
    font-size: 4rem;
  }

  .ecosystem-img {
    padding-top: 6rem;
    padding-bottom: 2.5rem;
  }

  .latest-products {
    padding-bottom: 2.5rem;
  }

  .latest-products-col-5 {
    grid-template-columns: repeat(4, 1fr);
  }

  .box-2-container-1 {
    flex-direction: column;
    height: 100%;
  }

  .box-2-container-2 {
    height: 50%;
  }

  .container-1-box-1,
  .container-1-box-2 {
    width: 100%;
    height: 100%;
  }

  .summary-section {
    padding-bottom: 0.5rem;
  }

  .summary-box-1 {
    width: 50%;
  }

  .summary-box-1-title,
  .summary-box-1-description {
    margin-bottom: 0.5rem;
  }

  .summary-cta-link {
    margin-top: 0.5rem;
  }

  .summary-box-2 {
    width: 50%;
  }

  .summary-box-1-img {
    right: -11rem;
    bottom: -24rem;
  }

  .summary-box-2-img {
    right: 23rem;
    bottom: -26rem;
  }
}

@media (max-width: 56.4375em) {
  .nav-bar-logo-wrapper {
    width: 15%;
  }

  .nav-right {
    gap: 0.9rem;
  }

  .pillars-right {
    gap: 2rem;
  }

  .pillar-icon-box-title span {
    line-height: 2rem;
  }

  .product-box-right {
    gap: 2rem;
  }

  .product-link-div {
    margin-top: 1rem;
  }

  .ecosystem-text-wrapper {
    width: 50%;
  }

  .ecosystem-text-title {
    font-size: 3rem;
    line-height: 0.4rem;
  }

  .ecosystem-text-content {
    margin-bottom: 1rem;
  }

  .latest-product-top-title {
    font-size: 1.5rem;
  }

  .latest-products-col-5 {
    grid-column-gap: 1.2rem;
  }

  .summary-box-title {
    font-size: 2.188rem;
  }

  .summary-box-1-title {
    font-size: 1.75rem;
  }

  .summary-box-1-description {
    font-size: 1.3rem;
  }

  .summary-cta-link {
    font-size: 1.3rem;
  }

  .box-2-container-2-div {
    width: 50%;
    left: 1%;
  }

  .partners-logo-container {
    gap: 3.5rem;
  }

  .signup-container-left {
    flex-direction: column;
  }

  .signup-container-left-wrapper {
    width: 70%;
  }

  .signup-container-right {
    width: 30%;
  }

  .signup-title-box {
    width: 100%;
  }

  .cta-form-container {
    width: 100%;
  }

  .signup-title-box {
    padding-left: 1.5rem;
  }

  .footer-container-wrapper-wrapper {
    flex-wrap: wrap;
  }

  .wrapper-wrapper-1 {
    width: 100%;
  }

  .inner-logo-img {
    width: 50%;
  }

  .wrapper-wrapper-2 {
    width: 30%;
  }

  .wrapper-wrapper-3 {
    width: 30%;
  }

  .wrapper-wrapper-4 {
    width: 40%;
  }
}

@media (max-width: 49.375em) {
  .nav-bar-logo-wrapper {
    width: 18%;
  }

  .btn-mobile-nav {
    display: block;
    z-index: 1001;
  }
  .nav-right {
    position: absolute;
    background-color: #fff;
    top: 0;
    right: 0;
    width: 30%;
    height: 100vh;
    flex-direction: column;
    gap: 2.5rem;
    align-items: flex-start;
    justify-content: center;
    transform: translateX(100%);

    transition: all 0.5s ease-in;
    /* HIDE NAVIGATION */
    /*setting display to none won't allow transitioning at all instead we use opacity set to 0*/

    /*Steps to really hiding the navigation*/
    /*1) Hide it visually*/
    opacity: 0;

    /*2) Make it unaccessible to mouse and keyboard*/
    pointer-events: none;

    /*3) Hide it from screen readers*/
    visibility: hidden;
    z-index: 1000;
  }

  .nav-items {
    margin-left: 4rem;
  }
  .nav-open .nav-right {
    /* making navigation accessible again*/
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
    box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.3);
    border-radius: 4rem 0 0 4rem;
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    /*selecting an element with the name property. the [] is what is used for that. */
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    /*selecting an element with the name property. the [] is what is used for that. */
    display: none;
  }

  .pillars-container {
    flex-direction: column;
  }

  .pillars-left {
    align-items: center;
    width: 100%;
  }

  .pillar-heading-big {
    font-size: 2rem;
  }

  .pillars-right {
    width: 100%;
  }

  .pillar-icon-box {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .icon-box {
    align-self: center;
  }

  .pillar-icon {
    font-size: 4.2rem;
  }

  .pillar-icon-box-title {
    align-self: center;
  }

  .products-item {
    gap: 1rem;
    margin-right: 0;
    margin-bottom: 4rem;
  }

  .product-box-items {
    grid-template-columns: repeat(2, 1fr);
  }

  .product-img-box {
    margin-bottom: 0;
  }

  .product-box-right {
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
  }

  .product-right-wrapper {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  .ecosystem-img {
    padding-top: 3rem;
  }

  .latest-products-col-5 {
    grid-template-columns: repeat(2, 1fr);
  }

  .latest-product-bottom-box:link,
  .latest-product-bottom-box:visited {
    margin-top: 0;
  }

  .summary-container {
    flex-direction: column;
  }

  .container-box-1-div,
  .container-box-2-div,
  .box-2-container-2-div {
    top: 50%;
    transform: translateY(-50%);
  }

  .summary-box {
    width: 100%;
  }

  .summary-box-1 {
    padding: 6rem;
  }

  .summary-box-2 {
    width: 100%;
  }

  .summary-box-1-img,
  .summary-box-2-img,
  .container-2-img {
    position: inherit;
    width: 30%;
  }

  .summary-box-1-img {
    right: -42rem;
    bottom: 0;
  }

  .summary-box-2-img {
    right: -2rem;
    bottom: 0;
  }

  .container-2-img {
    right: -40rem;
    bottom: 0;
  }

  .signup-container {
    flex-direction: column;
  }

  .signup-container-left-wrapper {
    width: 100%;
  }

  .cta-form-top {
    flex-wrap: wrap;
  }

  .cta-form-name,
  .cta-form-email {
    width: 100%;
  }

  .signup-container-right {
    width: 100%;
  }

  .signup-right-box {
    margin: 0;
    justify-content: center;
  }

  .signup-right-img {
    width: 60%;
  }

  .footer {
    padding-top: 2rem;
  }

  .wrapper-wrapper-2 {
    width: 50%;
  }
  .wrapper-wrapper-3 {
    width: 50%;
  }
  .wrapper-wrapper-4 {
    width: 100%;
  }

  .copyright-container {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
  }

  .copyright-container-left,
  .copyright-container-right {
    width: 100%;
    justify-content: center;
  }

  .copyright-wrapper-box {
    justify-content: center;
  }
}

@media (max-width: 45.9375em) {
  .pillars-container,
  .product-section,
  .latest-products,
  .summary-container,
  .partners-container,
  .signup-container,
  .footer-container {
    max-width: 70rem;
  }
  .helpline-wrapper {
    font-size: 1rem;
  }

  .slide-text h6 {
    font-size: 1.3rem;
  }

  .slide-text h1 {
    font-size: 3.2rem;
    line-height: 4rem;
  }

  .product-link-div {
    justify-content: center;
    margin-left: 0;
    gap: 5rem;
  }
  .ecosystem-text-wrapper {
    margin-left: 0;
  }
  .ecosystem-text-title {
    font-size: 2.5rem;
    margin-bottom: 1.8rem;
  }
  .ecosystem-text-content {
    font-size: 1.4rem;
  }
  .ecosystem-text-link:link,
  .ecosystem-text-link:visited {
    padding: 1rem 3rem;
  }
  .summary-box-1-img {
    right: -37rem;
  }

  .container-2-img {
    right: -37rem;
  }
}

@media (max-width: 36.25em) {
  .nav-bar-logo-wrapper {
    width: 23%;
  }

  .pillars-container,
  .product-section,
  .latest-products,
  .summary-container,
  .partners-container,
  .signup-container,
  .footer-container {
    max-width: 55rem;
  }
  .discount-text {
    display: none;
  }

  .pillar-heading-big {
    text-align: center;
  }

  .product-heading-subtitle {
    font-size: 1.8rem;
    font-weight: 400;
  }
  .ecosystem-text-title {
    font-size: 2rem;
  }
  .ecosystem-text-content {
    font-size: 1.2rem;
  }
  .ecosystem-text-link:link,
  .ecosystem-text-link:visited {
    padding: 0.5rem 1.5rem;
  }
  .box-2-container-2-div {
    width: 55%;
  }
  .summary-box-1-img {
    right: -32rem;
  }
  .summary-box-1-title {
    font-size: 1.6rem;
  }
  .summary-cta-link:link,
  .summary-cta-link:visited {
    margin-top: 0.5rem;
    padding: 0.5rem;
  }
  .partners-logo-container {
    gap: 2.5rem;
  }
}

@media (max-width: 30em) {
  .nav-bar-logo-wrapper {
    width: 30%;
  }
  .pillars-container,
  .product-section,
  .latest-products,
  .summary-container,
  .partners-container,
  .signup-container,
  .footer-container {
    max-width: 45rem;
  }

  .nav-items {
    margin-left: 3rem;
  }

  .slider {
    height: 80%;
  }

  .slide-text {
    width: 60%;
  }

  .btn {
    font-size: 2rem;
    padding: 2rem 0.6rem;
  }

  .next-btn {
    border-radius: 1rem 0 0 1rem;
  }
  .prev-btn {
    border-radius: 0 1rem 1rem 0;
  }

  .pillars-section {
    padding-bottom: 4rem;
  }

  .pillar-icon-box {
    padding: 1rem 2rem 2rem 2rem;
    border-radius: 0 0 0.8rem 0.8rem;
  }

  .product-box-left {
    border-radius: 0.8rem;
  }

  .product-heading-subtitle {
    font-size: 1.6rem;
  }

  .item-top-title {
    padding: 0;
  }

  .products-item {
    padding: 0.2rem;
    margin-bottom: 3rem;
  }
  .product-box-left {
    padding: 2rem;
  }

  .products-item:not(last-child) {
    margin-right: 0;
  }

  .product-box-right {
    padding: 1.5rem;
    max-width: 40rem;
    margin: 0 auto;
    border-radius: 0 0 0.8rem 0.8rem;
  }
  .product-link-div {
    gap: 2rem;
  }
  .product-link:link,
  .product-link:visited {
    font-size: 1rem;
  }

  .ecosystem {
    width: 100%;
    height: 60%;
  }
  .ecosystem-img {
    width: 100%;
    height: 100%;
  }
  /* .ecosystem-text-title {
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }
  .ecosystem-text-link:link,
  .ecosystem-text-link:visited {
    font-size: 1.2;
    padding: 0.2rem 1rem;
  } */

  .latest-product-heading {
    font-size: 2.246rem;
  }
  .latest-product-top-title {
    font-size: 1.4rem;
  }
  .latest-product-bottom-box:link,
  .latest-product-bottom-box:visited {
    font-size: 1.2rem;
  }
  .latest-product-col-list::after {
    padding: 0.9rem 0.4rem;
    font-size: 1.2rem;
  }
  .summary-box-1-title {
    font-size: 1.4rem;
  }
  .summary-box-1-description,
  .summary-cta-link:link,
  .summary-cta-link:visited {
    font-size: 1.2rem;
  }
  .summary-box-1-img {
    right: -24rem;
  }
  .container-box-2-div {
    width: 65%;
    right: 0.1rem;
  }
  .summary-cta-link:link,
  .summary-cta-link:visited {
    margin-top: 0.1rem;
  }
  .summary-box-1-img,
  .summary-box-2-img,
  .container-2-img {
    width: 50%;
  }
  .box-2-container-2-div {
    left: 0.5%;
    width: 75%;
  }
  .summary-box-2-img {
    right: 7rem;
  }
  .container-2-img {
    right: -33rem;
  }

  .partners-logo-container {
    height: 10%;
    gap: 3rem;
  }

  .signup-title {
    font-size: 1.872rem;
  }

  .copyright-div-description {
    font-size: 1.1rem;
  }
}

@media (max-width: 25em) {
  .nav-bar-logo-wrapper {
    width: 30%;
  }
  .pillars-container,
  .product-section,
  .latest-products,
  .summary-container,
  .partners-container,
  .signup-container,
  .footer-container {
    max-width: 38rem;
  }

  .slide-text {
    width: 90%;
  }

  .nav-items {
    margin-left: 1.5rem;
  }

  .nav-items:link,
  .nav-items:visited {
    font-size: 1.2rem;
  }

  .summary-box-1 {
    padding: 3rem;
  }
  .summary-box-1-img {
    right: -19rem;
  }
  .summary-box-2-img {
    right: 6rem;
  }
  .container-2-img {
    right: -28rem;
  }

  .inner-title-div-title {
    font-size: 1.56rem;
  }
  .descriptioin2-list-item a:link,
  .descriptioin2-list-item a:visited {
    font-size: 1.2rem;
  }
}

@media (max-width: 21.875em) {
  .pillars-container,
  .product-section,
  .latest-products,
  .summary-container,
  .partners-container,
  .signup-container,
  .footer-container {
    max-width: 34rem;
  }

  .slide-text {
    width: 90%;
  }

  .pillar-icon-box {
    padding: 1.5rem;
  }
  .pillar-icon-box-title span {
    font-size: 1.872rem;
  }
  .pillar-icon-box-description {
    font-size: 1.4rem;
  }

  .product-container {
    gap: 1rem;
  }
  .product-box-left {
    border-radius: 0 0 0.8rem 0.8rem;
  }

  .product-box-right {
    max-width: 30rem;
  }
  .product-right-title {
    font-size: 1.4rem;
  }
  .product-right-description {
    font-size: 1.2rem;
  }

  .ecosystem-text-link:link,
  .ecosystem-text-link:visited {
    font-size: 1.4rem;
  }

  .product-heading-subtitle,
  .item-top-title {
    font-size: 1.4rem;
  }
  .item-bottom:link,
  .item-bottom:visited {
    font-size: 1.2rem;
  }
  .product-link {
    padding: 0.9rem 1.9rem;
  }

  .ecosystem-text-title {
    font-size: 1.8rem;
  }

  .summary-box-title {
    font-size: 1.872rem;
  }
  .summary-box-1-img {
    right: -18rem;
  }
  .summary-box-2-img {
    right: 5.5rem;
  }
  .container-2-img {
    right: -25rem;
  }

  .description-text {
    font-size: 1.4rem;
  }
} ;
