/************** 1080px  ***********************/
@media (max-width: 67.5em) {
  .helpline-wrapper,
  .nav-bar-container,
  .pillars-container,
  .product-section,
  .latest-products,
  .summary-container,
  .partners-container,
  .signup-container,
  .footer-container {
    max-width: 100rem;
  }

  .pillars-left {
    padding: 0;
  }

  .pillar-icon-box-title span {
    font-size: 2rem;
  }

  .summary-box-1-title {
    font-size: 2rem;
  }

  .container-box-2-div {
    top: 2.2rem;
    width: 60%;
  }

  .summary-box-1-title {
    margin-bottom: 1rem;
  }

  .summary-box-1-img {
    right: -11rem;
    bottom: -12rem;
  }

  .summary-box-2-img {
    right: 19rem;
    bottom: -9rem;
  }

  .signup-title {
    font-size: 2rem;
  }
}

@media (max-width: 62.9375em) {
  .pillars-section {
    padding-top: 3rem;
    padding-bottom: 2rem;
  }

  .pillar-heading-big {
    font-size: 3.2rem;
  }

  .pillar-icon {
    font-size: 4.5rem;
  }

  .product-container {
    flex-direction: column;
  }

  .product-section {
    padding-bottom: 0;
  }

  .product-box-left {
    width: 100%;
  }

  .product-box-right {
    flex-direction: row;
    gap: 0;
    width: 100%;
  }

  .ecosystem-text-title {
    font-size: 4rem;
  }

  .ecosystem-img {
    padding-top: 6rem;
    padding-bottom: 2.5rem;
  }

  .latest-products {
    padding-bottom: 2.5rem;
  }

  .latest-products-col-5 {
    grid-template-columns: repeat(4, 1fr);
  }

  .box-2-container-1 {
    flex-direction: column;
    height: 100%;
  }

  .box-2-container-2 {
    height: 50%;
  }

  .container-1-box-1,
  .container-1-box-2 {
    width: 100%;
    height: 100%;
  }

  .summary-section {
    padding-bottom: 0.5rem;
  }

  .summary-box-1 {
    width: 50%;
  }

  .summary-box-1-title,
  .summary-box-1-description {
    margin-bottom: 0.5rem;
  }

  .summary-cta-link {
    margin-top: 0.5rem;
  }

  .summary-box-2 {
    width: 50%;
  }

  .summary-box-1-img {
    right: -11rem;
    bottom: -24rem;
  }

  .summary-box-2-img {
    right: 23rem;
    bottom: -26rem;
  }
}

@media (max-width: 56.4375em) {
  .pillars-right {
    gap: 2rem;
  }

  .pillar-icon-box-title span {
    line-height: 2rem;
  }

  .product-box-right {
    gap: 2rem;
  }

  .product-link-div {
    margin-top: 1rem;
  }

  .ecosystem-text-wrapper {
    width: 50%;
  }

  .ecosystem-text-title {
    font-size: 3rem;
    line-height: 0.4rem;
  }

  .ecosystem-text-content {
    margin-bottom: 1rem;
  }

  .latest-product-top-title {
    font-size: 1.5rem;
  }

  .latest-products-col-5 {
    grid-column-gap: 1.2rem;
  }

  .summary-box-title {
    font-size: 2.188rem;
  }

  .summary-box-1-title {
    font-size: 1.75rem;
  }

  .summary-box-1-description {
    font-size: 1.3rem;
  }

  .summary-cta-link {
    font-size: 1.3rem;
  }

  .box-2-container-2-div {
    width: 50%;
    left: 1%;
  }

  .partners-logo-container {
    gap: 3.5rem;
  }

  .signup-container-left {
    flex-direction: column;
  }

  .signup-container-left-wrapper {
    width: 70%;
  }

  .signup-container-right {
    width: 30%;
  }

  .signup-title-box {
    width: 100%;
  }

  .cta-form-container {
    width: 100%;
  }

  .signup-title-box {
    padding-left: 1.5rem;
  }

  .footer-container-wrapper-wrapper {
    flex-wrap: wrap;
  }

  .wrapper-wrapper-1 {
    width: 100%;
  }

  .inner-logo-img {
    width: 50%;
  }

  .wrapper-wrapper-2 {
    width: 30%;
  }

  .wrapper-wrapper-3 {
    width: 30%;
  }

  .wrapper-wrapper-4 {
    width: 40%;
  }
}

@media (max-width: 49.375em) {
} ;
